# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# vscode
.vscode

# node
node_modules

# duckdb
*.duckdb
.wal

# nltk
nltk_data/

# venv
venv/

# utils
utils/diff_prompt.txt
