---
import Layout from "../layouts/Layout.astro";

const pageTitle = "404 Page";
---

<Layout title={pageTitle}>
    <main class="p-4 h-auto pt-20">
        <div>
            <h1>This leads nowhere (maybe later)</h1>
        </div>
    </main>
</Layout>