---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';
import Modal from '../components/Modal.astro';

const pageTitle = "gallery";
---
<Layout title={pageTitle}>
    <main class="p-4 h-auto pt-20">
        <Gallery/>
    </main>
    <Modal />
</Layout>