---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Home Page";
---
<Layout title={pageTitle}>
  <main class="p-4 h-auto pt-20">
        <h2>Featured posts</h2>
        <ul role="list" class="link-card-grid">
          {allPosts.map((post) => (
            <Card
              href={post.url ?? '#'}
              title={post.frontmatter.title ?? 'Untitled'}
              body={post.frontmatter.description ?? 'No description available'}
            />
          ))}
        </ul>
  </main>
</Layout>