---
const { frontmatter, url } = Astro.props;
const { title, image, description } = frontmatter;
---

<li class="link-card">
	<a href={url} class="card-container">
		<div class="card-image">
			<img src={image?.src || "/default-image.jpg"} alt={image?.alt || "Default Image"} loading="lazy" />
		</div>
		<div class="card-content">
			<h5>{title}</h5>
			<p>{description}</p>
		</div>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 1px;
		background-color: #23262d;
		border-radius: 7px;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* Number of lines */
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}

	@media (max-width: 768px) {
		.link-card {
			flex-direction: column;
		}
		.link-card-grid {
			gap: 1rem;
		}
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 7px;
	}

	/* Card container to structure image and content properly */
	.card-container {
		display: flex;
		flex-direction: column; /* Default to column for mobile */
		height: 100%; /* Ensure full card height */
	}

	.card-image {
		flex-shrink: 0; /* Prevents image from resizing to fit text */
		max-height: 150px; /* Control image size */
		overflow: hidden; /* Ensures it doesn't overflow the card */
	}

	.card-image img {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensures the image fits perfectly */
		border-radius: 7px 7px 0 0; /* Rounded top corners */
	}

	.card-content {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	h5 {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: bold;
		color: white;
	}

	p {
		margin: 0;
		color: #d3d3d3;
		flex-grow: 1; /* Ensures it takes up available space */
		display: -webkit-box;
		-webkit-line-clamp: 3; /* Limits description to 3 lines */
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media (min-width: 768px) {
		.card-container {
			flex-direction: row; /* Switch to row layout for larger screens */
		}
		.card-image {
			width: 150px; /* Restrict the image width on larger screens */
			height: auto;
		}
		.card-content {
			padding: 1rem;
		}
	}
</style>
