---
const galleryPosts = await Astro.glob('../pages/posts/gallery/*.md');

// Helper function to split posts into 4 columns
function chunkPosts(posts: any[], chunkSize: number): any[][] {
  const chunks = [];
  for (let i = 0; i < posts.length; i += chunkSize) {
    chunks.push(posts.slice(i, i + chunkSize));
  }
  return chunks;
}

const columns = chunkPosts(galleryPosts, Math.ceil(galleryPosts.length / 4));
---

<section class="grid grid-cols-2 md:grid-cols-4 gap-4">
  {columns.map((column, index) => (
    <div class="grid gap-4">
      {column.map((post) => (
        <div>
          <a href={`${encodeURIComponent(post.frontmatter.title)}`}>
            <img
              class="h-auto max-w-full rounded-lg"
              src={post.frontmatter.image}
              alt={post.frontmatter.title}
            />
          </a>
        </div>
      ))}
    </div>
  ))}
</section>
