---
// Import any necessary components or styles if needed
---
<nav class="nav-bar">
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/p52">p52</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/sailboating">Sailboating</a></li>
    <li><a href="/data">Data</a></li>
  </ul>
</nav>

