---
const { title, date } = Astro.props;
---
<header class="post-header">
    <h1 class="post-title">{title}</h1>
    <img src="" alt="">
    <div class="post-meta">
      <time datetime={date}>{new Date(date).toLocaleDateString()}</time> 
    </div>
</header>