---
// imports
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

// style import
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="a place to show and tell" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
