---
import Layout from './Layout.astro';
import PostHeader from '../components/PostHeader.astro';
import Sidebar from '../components/Sidebar.astro';

const { frontmatter } = Astro.props;
const { title, date, category, description, image } = frontmatter;
---
<Layout {title}>
  <PostHeader {title} {date} {image} />
  <!-- <Sidebar /> -->
  <main class="post-content">
    <slot />
  </main>
</Layout>