---
import Layout from './Layout.astro';
import PostHeader from '../components/PostHeader.astro';

const { frontmatter } = Astro.props;
const { title, date, image } = frontmatter;
---
<Layout {title}>
  <PostHeader {title} {date} {image} />
  <div class="post-content">
    <slot />
  </div>
</Layout>